@import "tailwindcss";

@theme {
  /* Fonts */
  --font-body: "Inter", system-ui, ui-sans-serif, sans-serif;
  --font-heading: "Clash Display", system-ui, ui-sans-serif, sans-serif;
  --font-inter: "Inter", system-ui, ui-sans-serif, sans-serif;
  --font-clash: "Clash Display", system-ui, ui-sans-serif, sans-serif;

  /* Colors */
  --color-primary: #00adef;
  --color-primary-10: #00adef1a;
  --color-primary-40: #00adef66;
  --color-secondary: #e5f7fd;
  --color-black: #080808;
  --color-white: #ffffff;
  --color-white-85: #ffffffd9;
  --color-white-10: #ffffff1a;
  --color-gray-light: #d9d9d9;
  --color-gray-dark: #767676;

  /* Typography scale */
  --text-3xl: 56px;
  --text-3xl--line-height: 125%;
  --text-3xl--letter-spacing: 0;
  --text-2xl: 48px;
  --text-2xl--line-height: 100%;
  --text-2xl--letter-spacing: 0;
  --text-xl: 40px;
  --text-lg: 32px;
  --text-base: 24px;
  --text-base--line-height: 150%;
  --text-base--letter-spacing: 0;
  --text-sm: 16px;
  --text-sm--line-height: 100%;
  --text-sm--letter-spacing: 0;
}

@layer base {
  body {
    @apply bg-white text-black font-body;
  }
  header {
    @apply fixed top-0 left-0 w-full z-50 bg-white shadow-[4px_4px_4px_0px_#D9D9D940];
  }
  nav {
    @apply container mx-auto flex justify-between items-center py-2.5 px-16;
  }
  nav > a {
    @apply border-b-0 focus:outline-none focus:border-b-2 focus:border-primary transition duration-100;
  }
  nav > a > img {
    @apply w-[221px] h-12;
  }
  nav > ul {
    @apply flex justify-end items-center gap-4;
  }
  nav > ul > li > a {
    @apply list-none font-semibold text-sm text-black hover:text-primary hover:underline hover:underline-offset-[16%] hover:decoration-[10.5%] focus:outline-none focus:text-primary focus:underline focus:underline-offset-[16%] focus:decoration-[10.5%] transition duration-100;
  }
  main {
    @apply mt-28 overflow-hidden;
  }
  section {
    @apply container mx-auto;
  }
  h1 {
    @apply text-3xl font-bold font-clash text-white;
  }
  h1 > span {
    @apply text-primary;
  }
  h2 {
    @apply text-2xl font-bold font-clash text-black;
  }
  h2 > span {
    @apply text-primary;
  }
  h3 {
    @apply text-lg font-medium font-clash text-white;
  }
  p {
    @apply text-sm/[150%] font-normal text-black;
  }
  figure {
    @apply relative rounded-3xl overflow-hidden;
  }
  img {
    @apply w-full h-full object-cover object-center;
  }
  figcaption {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-sm font-normal -z-50;
  }
  button,
  button[data-variant="solid"] {
    @apply bg-[radial-gradient(50%_78.68%_at_50%_100%,_#5ED3FF_13.36%,_#00ADEF_78.53%)] hover:bg-[radial-gradient(97.72%_153.78%_at_50%_100%,_#5ED3FF_19.52%,_#00ADEF_82.44%)] hover:shadow-[0px_4px_4.7px_0px_#45434340] focus:outline-none focus:bg-[radial-gradient(97.72%_153.78%_at_50%_100%,_#5ED3FF_19.52%,_#00ADEF_82.44%)] focus:scale-105 text-white font-inter font-semibold text-sm uppercase p-5 rounded-[75px] cursor-pointer transition-colors duration-300 ease-out;
  }
  button[data-variant="outline"] {
    @apply bg-transparent bg-none border border-primary text-white;
  }

  footer {
    @apply bg-black;
  }
}

@layer components {
  /* Nav banner styles */
  .nav-banner {
    @apply bg-primary w-full;
  }
  .nav-banner-container {
    @apply container mx-auto py-2 px-16 flex justify-end items-center gap-4;
  }
  .nav-banner-link {
    @apply text-white text-sm font-clash hover:underline focus:outline-none focus:underline focus:scale-105  transition duration-100;
  }

  /* Hero Section Styles */
  .hero {
    @apply container mx-auto h-[600px] flex items-center justify-between px-16 py-8 rounded-xl;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(90deg, rgba(0, 0, 0, 0) -7.6%, rgba(0, 0, 0, 0.6) 71.74%),
      url("/wealthix-advisors/hero-bg.jpg") center/cover no-repeat;
  }
  .hero-left > h1 {
    @apply max-w-[663px] mb-5;
  }
  .hero-left > button {
    @apply flex items-center justify-between gap-3;
  }
  .hero-right {
    @apply max-w-[488px] flex flex-col gap-6;
  }
  .hero-right > p {
    @apply text-white text-sm font-semibold uppercase mb-6;
  }
  .hero-right > p > span {
    @apply text-primary;
  }
  .hero-right > ul {
    @apply list-none text-white-85 text-sm font-medium flex justify-around flex-wrap gap-2;
  }

  /* Separated Styles for hover over 'li' for clarity */
  .hero-right > ul > li {
    @apply relative h-32 w-56 p-5 rounded-[20px] overflow-hidden 
         bg-white-10 backdrop-blur-sm transition-colors duration-300 ease-out;
  }

  .hero-right > ul > li::before {
    content: "";
    @apply absolute inset-0 p-1 rounded-[20px] pointer-events-none transition-colors duration-300 ease-out;
    background: linear-gradient(
      108.19deg,
      #fff 4.12%,
      rgba(255, 255, 255, 0.4) 99.97%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .hero-right > ul > li:hover {
    @apply bg-primary-10 backdrop-blur-lg;
  }
  .hero-right > ul > li:hover::before {
    background: linear-gradient(0deg, #00adef, #00adef),
      linear-gradient(106.94deg, rgba(255, 255, 255, 0.4) 1.21%, #ffffff 98.32%);
  }
  /* Core Services Styles */
  .core-services {
    @apply my-20 container mx-auto relative;
  }
  .core-services > h2 {
    @apply max-w-2xl mx-auto text-center mb-16;
  }
  .core-services-container {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto justify-items-center;
  }
  .core-services-card {
    @apply bg-black text-white max-w-lg p-8 rounded-3xl border border-primary backdrop-blur-sm;
  }
  .core-services-card:nth-child(2),
  .core-services-card:nth-child(3) {
    @apply bg-primary;
  }
  .core-services-card h3 {
    @apply mb-4;
  }
  .core-services-card > h3 > svg {
    @apply h-8 w-8 inline-block mr-2;
  }
  .core-services-card p {
    @apply text-white text-sm/[150%] font-normal ms-8;
  }
  .core-services::before,
  .core-services::after {
    content: "";
    @apply absolute rounded-full;
    background: radial-gradient(
        164.2% 164.2% at 0% -20.72%,
        #00adef 18.45%,
        #ffffff 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .core-services::before {
    @apply w-54 h-54 top-[10%] -left-[5%] -z-10;
  }
  .core-services::after {
    @apply w-96 h-96 -bottom-[12%] -right-[10%] -z-10;
  }

  /* Trusted Experts Styles */
  .trusted-experts {
    @apply my-20 container mx-auto max-h-full xl:max-h-[550px] flex flex-col flex-wrap gap-8 items-center xl:items-start bg-secondary py-12 px-16 rounded-lg;
  }
  .trusted-experts > h2 {
    @apply max-w-full xl:max-w-xl;
  }
  .trusted-experts > p {
    @apply max-w-full xl:max-w-lg;
  }
  .trusted-experts > figure {
    @apply w-auto h-auto xl:w-[526px] xl:h-[424px];
  }

  /* Services Section Styles */
  .services {
    @apply my-20 container mx-auto p-4 md:p-8 flex flex-col xl:flex-row justify-center xl:justify-between items-center xl:items-start gap-4;
  }
  .services-left-container {
    @apply max-w-3xl;
  }
  .services-left-container > h2 {
    @apply mb-6;
  }
  .services-left-container > p {
    @apply mb-8;
  }
  .service-block {
    @apply mb-16;
  }
  .service-block > h3 {
    @apply text-black mb-8 text-xl font-normal font-clash;
  }
  .service-block > h3 > span {
    @apply text-primary;
  }
  .service-block > h3 > svg {
    @apply inline-block h-8 w-8 me-2;
  }
  .service-card {
    @apply px-2 md:px-8 py-4 border-b border-gray-light relative cursor-pointer overflow-hidden flex justify-between items-center;
  }
  .service-card::before {
    content: "";
    @apply absolute left-1/2 -translate-x-1/2 bottom-0 h-full w-full bg-primary-10 translate-y-full transition-all duration-300 ease-out;
  }
  .service-card:hover::before {
    @apply translate-y-0;
  }
  .service-card:hover > a {
    @apply bg-primary rotate-45;
  }
  .service-card > .service-card-content > h4 {
    @apply text-black text-base font-normal mb-4;
  }
  .service-card > .service-card-content > p {
    @apply text-sm font-light text-sm/[150%] text-black;
  }
  .service-card > a {
    @apply bg-black h-11 w-11 rounded-full flex justify-center items-center transition-all duration-300 ease-out;
  }
  .service-card > a > svg {
    @apply inline-block h-6 w-6 text-white;
  }
  .service-card > .service-card-content {
    @apply max-w-3xs md:max-w-sm;
  }

  .services-right-container {
    @apply flex flex-col justify-start items-start bg-[#f9f9f9] rounded-3xl px-4 md:px-8 py-8 md:py-16 max-w-lg gap-4;
  }
  .services-right-container > h3 {
    @apply text-primary mb-4 font-medium text-lg font-clash;
  }
  .services-right-container > form {
    @apply w-full grid grid-cols-1 md:grid-cols-2 gap-4;
  }
  .services-right-container > form > label {
    @apply block text-black text-sm font-medium mb-4 focus-within:font-semibold col-span-2;
  }
  .services-right-container > form > label:first-child,
  .services-right-container > form > label:nth-child(2) {
    @apply md:col-span-1!;
  }
  .services-right-container > form > label > input,
  .services-right-container > form > label > select,
  .services-right-container > form > label > textarea {
    @apply w-full mt-2 p-3 rounded-lg bg-transparent text-black placeholder-gray-dark border border-gray-dark focus:outline-none focus:border-primary transition duration-200;
  }
  .services-right-container > form > label > select > option {
    @apply text-black bg-white;
  }
  .services-right-container > form > button {
    @apply col-span-2 flex items-center justify-between gap-3 max-w-3xs;
  }

  .services-right-testimonial-container {
    @apply mt-16 w-full flex flex-col justify-start items-start bg-white p-2 md:p-8 rounded-2xl;
  }
  .services-right-testimonial-container > p {
    @apply text-black text-sm font-medium mb-4;
  }
  .services-right-testimonial-container > .testimonial-card {
    @apply w-full;
  }
  /* Compliant Section Styles */
  .compliant {
    @apply my-20 container mx-auto;
  }
  .compliant > h2 {
    @apply text-center mb-32;
  }
  .compliant-container {
    @apply flex justify-evenly items-center flex-wrap;
  }
  .compliant-container > li {
    @apply list-none relative mt-16;
  }
  .compliant-container > li > span {
    @apply block absolute -top-[20%] left-1/2 transform -translate-x-1/2 rounded-full bg-primary text-white text-base w-24 h-24 text-center font-bold font-clash text-base/[150%];
  }
  .compliant-card {
    @apply bg-primary-40 relative rounded-3xl h-40 w-2xs p-4 backdrop-blur-md;
  }
  .compliant-card::before {
    content: "";
    @apply absolute inset-0 p-[2px] rounded-3xl pointer-events-none;
    background: linear-gradient(
      150.02deg,
      #ffffff 1.89%,
      rgba(255, 255, 255, 0) 59.81%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .compliant-card h3 {
    @apply text-base font-medium mb-1;
  }
  .compliant-card > p {
    @apply text-sm/[150%] font-normal text-white;
  }

  /* Choosing Section Styles */
  .choosing {
    @apply my-20 container mx-auto relative p-8 py-32 flex justify-center lg:justify-between items-start flex-wrap;
  }
  .choosing::before {
    content: "";
    @apply absolute top-0 left-1/2 -translate-x-1/2 w-screen h-full -z-50 bg-black;
  }
  .choosing::after {
    content: "";
    @apply absolute top-0 left-0 w-3/4 h-full -z-40 opacity-10;
    background: url("/wealthix-advisors/choose-bg.svg") top/contain no-repeat;
  }
  .choosing > h2 {
    @apply text-white w-full mb-16;
  }
  .choosing-container {
    @apply flex flex-col lg:flex-row justify-center lg:justify-start items-start flex-wrap gap-1 lg:gap-2 w-full lg:w-3/5 xl:w-4/5 max-w-[850px] mb-16;
  }
  .choosing-container > li {
    @apply max-w-full xl:max-w-[380px];
  }
  .choosing-card > h3 > svg {
    @apply me-2 inline-block h-8 w-8;
  }
  .choosing-card > p {
    @apply text-white mb-4;
  }

  .choosing-figure {
    @apply w-[345px] h-[450px];
  }

  /* Testimonial Styles */
  .testimonials {
    @apply my-20 container mx-auto p-8;
  }
  .testimonials > h2 {
    @apply mb-16;
  }
  /* Testimonial Container to be worked as Carousel */
  .testimonials-container {
    @apply w-full flex gap-0 md:gap-8 overflow-x-auto scroll-smooth snap-x snap-mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  .testimonials-container::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
  .testimonials-container > li {
    @apply snap-start flex-shrink-0 w-md;
  }
  .testimonial-card {
    @apply w-xs md:w-md bg-[#f9f9f9] px-6 py-5 rounded-3xl flex flex-col gap-4;
    box-shadow: 4px 4px 4px 0px #d9d9d940;
  }
  .testimonial-header {
    @apply static flex justify-start items-center gap-2 bg-white p-2 rounded-xl shadow-none;
  }
  .testimonial-avatar {
    @apply w-10 h-10 rounded-full object-cover object-center me-2;
  }
  .testimonial-name {
    @apply font-medium text-sm text-black font-clash mb-1;
  }
  .testimonial-ratings-container {
    @apply flex justify-start items-center gap-1;
  }
  .testimonial-text {
    @apply text-sm/[150%] font-normal text-black;
  }
  .testimonial-footer {
    @apply w-full flex justify-between items-center bg-transparent;
  }
  .testimonial-platform > img {
    @apply w-5 h-5 object-contain object-center inline-block ms-1;
  }

  .testimonial-carousel {
    @apply w-full flex justify-between items-center mt-8 bg-red-500 relative transform -translate-y-48;
  }
  .testimonial-carousel-control {
    @apply absolute top-0 p-1;
  }
  .testimonial-carousel-control-left {
    @apply -left-8;
  }
  .testimonial-carousel-control-right {
    @apply -right-8;
  }

  /* Call To Action Styles */
  .cta {
    @apply my-20 container mx-auto bg-black py-16 px-4 md:px-8 rounded-sm relative;
  }
  .cta::after {
    content: "";
    @apply absolute top-0 right-0 h-full w-[492px] z-10 opacity-30 md:opacity-100;
    background: url("/wealthix-advisors/cta-circle.svg") top/cover no-repeat;
  }
  .cta > h2 {
    @apply text-white mb-6 max-w-3xl;
  }
  .cta > p {
    @apply text-white mb-8 max-w-3xl;
  }
  .cta > p > span {
    @apply text-primary;
  }
  .cta-actions {
    @apply flex justify-start items-center gap-2 flex-wrap;
  }
  .cta-actions > button {
    @apply flex items-center justify-between gap-3;
  }
  .cta-actions > svg {
    @apply inline-block h-6 w-6;
  }
  .cta-actions > button > span {
    @apply text-start;
  }

  /* Faq Styles */
  .faqs {
    @apply my-20 container mx-auto p-4 md:p-8;
  }
  .faqs > h2 {
    @apply mb-16;
  }
  .faq-card {
    @apply bg-black text-white w-full max-w-4xl mx-auto mb-4 rounded-xl p-6 cursor-pointer;
  }
  .faq-question {
    @apply flex justify-between items-center text-base/[100%] font-semibold mb-0 transition-all duration-300 ease-out;
  }
  .faq-icon {
    @apply inline-block h-6 w-6 transition-transform duration-300 ease-out;
  }
  .faq-answer {
    @apply text-sm font-normal text-white max-h-0 overflow-hidden transition-all duration-300 ease-out;
  }

  .faq-card[data-opened="true"] .faq-question {
    @apply mb-4 transition-[margin-bottom] duration-300 ease-out;
  }
  .faq-card[data-opened="true"] .faq-answer {
    @apply max-h-96 mt-4 transition-all duration-300 ease-out;
  }
  .faq-card[data-opened="true"] .faq-icon {
    @apply transform -rotate-180 transition-transform duration-300 ease-out;
  }

  /* Get In Touch Styles */
  .git {
    @apply my-20 container mx-auto p-8 md:p-16 bg-black rounded-3xl flex justify-center xl:justify-between;
  }
  .git-left {
    @apply max-w-2xl;
  }
  .git-left > h2 {
    @apply text-white mb-6 max-w-3xl;
  }
  .git-left > p {
    @apply text-white mb-8 max-w-3xl;
  }
  .git-left > form {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }
  .git-left > form > label {
    @apply block text-white text-sm font-medium mb-4 focus-within:font-semibold col-span-1;
  }
  .git-left > form > label > input,
  .git-left > form > label > select,
  .git-left > form > label > textarea {
    @apply w-full mt-2 p-3 rounded-lg bg-transparent text-white placeholder-white border border-gray-light focus:outline-none focus:border-primary transition duration-200;
  }
  .git-left > form > label > select > option {
    @apply text-black bg-white;
  }
  .git-textarea,
  .git-checkbox {
    @apply col-span-2!;
  }
  .git-checkbox {
    @apply flex! justify-start! items-start! gap-4!;
  }
  .git-checkbox > input {
    @apply h-4! w-4! bg-transparent! checked:bg-primary! focus:ring-2! focus:ring-primary!;
  }
  .git-left > form > button {
    @apply flex items-center justify-between gap-3 max-w-3xs;
  }
  .git-right {
    @apply w-[450px] h-[639px] hidden xl:block;
  }

  /* Footer Styles */
  .footer-top {
    @apply container p-8 flex justify-between items-start flex-wrap gap-8;
  }
  .footer-logo {
    @apply w-[200px] h-32;
  }
  .footer-social-links {
    @apply flex justify-end items-start gap-4 flex-wrap;
  }

  /* Footer Middle Styles */
  .footer-middle {
    @apply container flex justify-between items-start flex-wrap p-8 mb-8 gap-8 xl:gap-0;
  }

  /* Footer Middle Left Styles */
  .footer-middle-left {
    @apply flex flex-col gap-4 max-w-6xl;
  }
  .footer-middle-left > h2 {
    @apply invisible absolute top-0 -left-[9999px];
  }

  /* Footer Address Styles */
  .footer-address {
    @apply max-w-sm;
  }
  .footer-address > h3 {
    @apply text-[20px] font-semibold  font-clash text-primary mb-2;
  }
  .footer-address > address {
    @apply not-italic text-sm/[100%] font-normal text-white;
  }

  /* Footer Contact Styles */
  .footer-contact {
    @apply w-full flex justify-start items-start flex-wrap gap-4;
  }
  .footer-contact > h3 {
    @apply w-full text-[20px] font-semibold font-clash text-primary mb-2;
  }
  .footer-contact-block > h4 {
    @apply text-sm font-semibold font-clash text-white mb-2;
  }
  .footer-contact-block > address > a {
    @apply block my-1 not-italic text-sm/[100%] font-normal text-white hover:underline focus:outline-none focus:underline transition duration-100;
  }
  .footer-contact-block > address > p {
    @apply not-italic text-sm/[100%] font-normal text-white;
  }

  /* Footer Middle Right Styles */
  .footer-middle-right > h2 {
    @apply text-[20px] font-semibold font-clash text-primary mb-2;
  }
  .footer-services {
    @apply list-none flex flex-col gap-4;
  }
  .footer-services > li > a {
    @apply not-italic text-sm/[100%] font-normal text-white hover:underline focus:outline-none focus:underline transition duration-100;
  }

  /* Footer Bottom Styles */
  .footer-bottom {
    @apply container mx-auto flex justify-center items-center flex-wrap gap-2 py-4 px-16;
  }
  .footer-bottom > h2 {
    @apply invisible absolute top-0 -left-[9999px];
  }
  .footer-copyright {
    @apply text-sm/[100%] font-normal text-white text-center;
  }
  .footer-nav {
    @apply max-w-fit;
  }
  .footer-nav-links {
    @apply flex justify-center items-center gap-2 flex-wrap;
  }
  .footer-nav-links > li > a {
    @apply not-italic text-sm/[100%] font-normal text-white hover:underline focus:outline-none focus:underline transition duration-100;
  }
  .footer-nav-links > li::after {
    content: "|";
    @apply mx-2 text-white;
  }
  .footer-nav-links > li:last-child::after {
    content: "";
    @apply mx-0;
  }
}
